<table class="table">
    <tr>
        <th>Name</th>
        <th>Ceo Name</th>
        <th>Year Established</th>
        <th></th>
    </tr>
    <% @sales_parties.each do |elem| %>
        <tr class="sales-party">
            <td><%= elem.name %></td>
            <td><%= elem.ceo %></td>
            <td><%= elem.established %></td>
            <td>
                <%= link_to raw("<i class=\"glyphicon glyphicon-cog\">Opportunities</i>"),
                            {:controller => "opportunity", :action => "list", :party_id => elem.id},
                            {class: "btn btn-default", :method => :get} %>
            </td>
        </tr>
    <% end %>
</table>