<div class="overlay"></div>
<div class="preloader">
    <p>Fetching collection...</p>
    <p><%= image_tag "preloader.GIF" %></p>
</div>
<nav class="navbar navbar-default no-margin" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a>Contacts</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="panel panel-default">
    <div class="wait" id="table-contents" data-url="/contacts/getall" data-oppid=<%= @opp_id %> data-con=<%= @key_contact %> ></div>
</div>
<%= link_to "Update contact", {action: "create", :opp_id => @opp_id}, {:class => "btn btn-primary opp submit", :method => "get"} %>