// Place all the styles related to the opportunity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dl-horizontal dd, .dl-horizontal dt {
  padding-top: 10px;
}

.btn.opp.submit {
  margin-left: 100px;
}

.btn.opp.cancel{
  margin-top: -56px;
  margin-left: 20px;
}